:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 800px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(240, 239, 233);
    --entry: rgb(235, 232, 217);
    /* --entry:rgb(240, 239, 233); */
    --menu: rgb(7, 60, 141);
    --title-primary: rgb(177, 82, 0);
    --title-secondary: rgb(207, 134, 55);
    --title-tertiary: rgb(224, 166, 6);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(240, 239, 233);
    --border: rgb(60, 79, 107);
    --ref: rgb(13, 127, 202);
    --hover: rgb(102, 129, 247);
    --bold-color: rgb(30, 30, 30);
}

.dark {

    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --menu: rgb(86 147 239);
    --title-primary: rgb(0, 151, 63);
    --title-secondary: rgb(153, 187, 0);
    --title-tertiary: rgb(224, 93, 6);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --bold-color: rgb(196, 193, 150);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
